@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #1e864b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #0a0a0a;
        --background: #ededed;
    }
}

/* Prevent any dark mode styles from applying */
/* @media (prefers-color-scheme: dark) {
    * {
        color-scheme: light !important;
    }
} */

@theme inline {
    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);

    /* Fonts */
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
